---
const today = new Date();
import HeaderLink from "./HeaderLink.astro";
import ButtonInverted from "./ButtonInverted.astro";
---

<footer class="bg-brand text-white mt-16">
  <div
    class="px-6 py-6 max-w-7xl mx-auto flex flex-col sm:flex-row items-start justify-between"
  >
    <p>&copy; {today.getFullYear()} Yumkin. All rights reserved.</p>
    <div class="flex gap-2 mb-4">
      <HeaderLink href={`${import.meta.env.BASE_URL}datenschutz`}
        >Datenschutz</HeaderLink
      >
      <HeaderLink href={`${import.meta.env.BASE_URL}impressum`}
        >Impressum</HeaderLink
      >
    </div>
    <ButtonInverted href="kontakt">Kontakt</ButtonInverted>
  </div>
</footer>
