---
import YumkinLogo from "./YumkinLogo.astro";
import NavBar from "./NavBar.astro";

const { title, description } = Astro.props;
---

<header class="relative bg-brand h-auto" x-data="{ open: false }">
  <nav
    class="relative grid grid-cols-3 justify-between p-6 max-w-7xl mx-auto z-50"
  >
    <h2>
      <a href={`${import.meta.env.BASE_URL}`}>
        <YumkinLogo type="inverted" />
      </a>
    </h2>

    <div
      @click="open = !open"
      class="flex md:hidden cursor-pointer text-2xl justify-end col-span-2 text-white"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
        x-show="!open"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
        x-show="open"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </div>

    <div class="md:grid hidden justify-end col-span-2"><NavBar /></div>
    <div
      x-show="open"
      role="dialog"
      class="flex flex-col items-end col-span-3 md:hidden bg-white p-6 absolute left-0 top-0 w-full h-screen z-50"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
        @click="open = !open"
        x-show="open"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
      <NavBar />
    </div>
  </nav>

  {
    title && (
      <div class=" bg-white px-6 py-16 sm:py-24 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
          <h2 class="mt-2 text-3xl md:text-4xl lg:text-5xl font-semibold tracking-tight text-gray-900">
            {title}
          </h2>
          <p class="mt-8 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8">
            {description}
          </p>
        </div>
      </div>
    )
  }
</header>
