---
import HeaderLink from "./HeaderLink.astro";
const { heroSize = "none" } = Astro.props;
---

<div
  class={`w-full justify-center flex flex-col md:flex-row gap-2 ${heroSize === "none" ? "text-brand" : "md:text-white"}`}
>
  <HeaderLink href={`${import.meta.env.BASE_URL}`}>Home</HeaderLink>
  <HeaderLink href={`${import.meta.env.BASE_URL}about`}>Unternehmen</HeaderLink>
  <HeaderLink href={`${import.meta.env.BASE_URL}blog`}>Neuigkeiten</HeaderLink>
</div>
<div class="w-full flex justify-end">
  <button>Login</button>
  <button>Get the App</button>
</div>
