<section class="mx-auto max-w-7xl px-6 lg:px-8">
  <header class="mx-auto max-w-2xl text-center">
    <h2
      class="mt-2 text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl mb-4"
    >
      Warum Yumkin wichtig ist!
    </h2>
    <p class="text-lg opacity-70">
      Echte Geschichten, ehrliches Feedback und begeisterte Stimmen aus unserer
      Community.
    </p>
  </header>
  <div
    class="mx-auto mt-16 grid max-w-2xl grid-cols-1 grid-rows-1 gap-8 text-sm/6 text-gray-900 sm:mt-20 sm:grid-cols-2 xl:mx-0 xl:max-w-none xl:grid-flow-col xl:grid-cols-4"
  >
    <figure
      class="rounded-2xl bg-white shadow-lg ring-1 ring-gray-900/5 sm:col-span-2 xl:col-start-2 xl:row-end-1"
    >
      <blockquote
        class="p-6 text-lg font-semibold tracking-tight text-gray-900 sm:p-12 sm:text-xl/8"
      >
        <p>
          “Integer id nunc sit semper purus. Bibendum at lacus ut arcu blandit
          montes vitae auctor libero. Hac condimentum dignissim nibh vulputate
          ut nunc. Amet nibh orci mi venenatis blandit vel et proin. Non
          hendrerit in vel ac diam.”
        </p>
      </blockquote>
      <figcaption
        class="flex flex-wrap items-center gap-x-4 gap-y-4 border-t border-gray-900/10 px-6 py-4 sm:flex-nowrap"
      >
        <img
          class="size-10 flex-none rounded-full bg-gray-50"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=1024&h=1024&q=80"
          alt=""
        />
        <div class="flex-auto">
          <div class="font-semibold">Brenna Goyette</div>
          <div class="text-gray-600">@brennagoyette</div>
        </div>
        <img
          class="h-10 w-auto flex-none"
          src="https://tailwindui.com/plus/img/logos/savvycal-logo-gray-900.svg"
          alt=""
        />
      </figcaption>
    </figure>
    <div class="space-y-8 xl:contents xl:space-y-0">
      <div class="space-y-8 xl:row-span-2">
        <figure
          class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5"
        >
          <blockquote class="text-gray-900">
            <p>
              “Laborum quis quam. Dolorum et ut quod quia. Voluptas numquam
              delectus nihil. Aut enim doloremque et ipsam.”
            </p>
          </blockquote>
          <figcaption
            class="mt-6 flex items-center gap-x-4 text-center justify-center"
          >
            <div>
              <div class="font-semibold">Leslie Alexander</div>
              <div class="text-gray-600">@lesliealexander</div>
            </div>
          </figcaption>
        </figure>

        <!-- More testimonials... -->
      </div>
      <div class="space-y-8 xl:row-start-1">
        <figure
          class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5"
        >
          <blockquote class="text-gray-900">
            <p>
              “Aut reprehenderit voluptatem eum asperiores beatae id. Iure
              molestiae ipsam ut officia rem nulla blanditiis.”
            </p>
          </blockquote>
          <figcaption
            class="mt-6 flex items-center gap-x-4 text-center justify-center"
          >
            <div>
              <div class="font-semibold">Lindsay Walton</div>
              <div class="text-gray-600">@lindsaywalton</div>
            </div>
          </figcaption>
        </figure>

        <!-- More testimonials... -->
      </div>
    </div>
    <div class="space-y-8 xl:contents xl:space-y-0">
      <div class="space-y-8 xl:row-start-1">
        <figure
          class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5"
        >
          <blockquote class="text-gray-900">
            <p>
              “Voluptas quos itaque ipsam in voluptatem est. Iste eos blanditiis
              repudiandae. Earum deserunt enim molestiae ipsum perferendis
              recusandae saepe corrupti.”
            </p>
          </blockquote>
          <figcaption
            class="mt-6 flex items-center gap-x-4 text-center justify-center"
          >
            <div>
              <div class="font-semibold">Tom Cook</div>
              <div class="text-gray-600">@tomcook</div>
            </div>
          </figcaption>
        </figure>

        <!-- More testimonials... -->
      </div>
      <div class="space-y-8 xl:row-span-2">
        <figure
          class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5"
        >
          <blockquote class="text-gray-900">
            <p>
              “Molestias ea earum quos nostrum doloremque sed. Quaerat quasi aut
              velit incidunt excepturi rerum voluptatem minus harum.”
            </p>
          </blockquote>
          <figcaption
            class="mt-6 flex items-center gap-x-4 text-center justify-center"
          >
            <div>
              <div class="font-semibold">Leonard Krasner</div>
              <div class="text-gray-600">@leonardkrasner</div>
            </div>
          </figcaption>
        </figure>

        <!-- More testimonials... -->
      </div>
    </div>
  </div>
</section>
