---
import BaseHead from "../components/BaseHead.astro";
const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <main>
      <article class="max-w-7xl mx-auto prose px-6">
        <slot />
      </article>
    </main>
  </body>
</html>
