---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeaderDetail from "../components/HeaderDetail.astro";

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-gray-50">
    <HeaderDetail
      title="Häufige Fragen"
      description="Immer up to date: Wissen, Tipps und mehr! Entdecke spannende Neuigkeiten, Updates und Inspirationen rund um Ernährung und unsere App."
      heroSize="small"
    />
    <main>
      <article class="max-w-7xl mx-auto px-6">
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
