---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import HeaderDetail from "../components/HeaderDetail.astro";

const { title, description, frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={title || frontmatter.title}
      description={description || frontmatter.description}
    />
  </head>

  <body class="bg-gray-50">
    <HeaderDetail
      title={title || frontmatter.title}
      description={description || frontmatter.description}
    />
    <main>
      <div class="mx-auto max-w-7xl px-6 prose py-6">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
